/* IT-JAM geodjango application stylesheet  */
html, body, #map {
  margin: 0;
  width: 100%;
  height: 100%;
}
textarea {
  width: 495px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  color: #000;
  font-size: 14px;
}
input {
  width: 495px;
  height: 25px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
#text {
  position: absolute;
  bottom: 1em;
  left: 4em;
  width: 512px;
  top: 10px;
  /*    min-height: 400px;*/

  z-index: 20000;
  opacity: 0.2;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px  #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  border-radius: 0.25em;
}
#text .count {
  font-size: 2em;
  margin-left: 10px;
}
#text .info {
  height: 30px;
  display: none;
  position: relative;
  z-index: 14;
  background-color: #ffffff;
  padding: 5px;
  line-height: 35px;
  font-size: 1em;
}
#text .info em {
  background-color: #1071d1;
  padding: 2px 5px;
  border-radius: 0.25em;
  color: #ffffff;
}
#text .form-box {
  height: 100px;
  background-color: #ffffff;
  display: none;
  position: relative;
  z-index: 14;
}
#text:hover {
  opacity: 1;
}
.top a {
  color: #ffffff;
}
.top {
  background: -moz-linear-gradient(#1071d1, #1e487e);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1071d1), to(#1e487e));
  background: -webkit-linear-gradient(#1071d1, #1e487e);
  background: -o-linear-gradient(#1071d1, #1e487e);
  background: linear-gradient(#1071d1, #1e487e);
  width: 100%;
  font-size: 18px;
  font-family: Georgia;
  color: #C8E2EE;
  height: 60px;
  line-height: 60px;
  border-radius: .25em .25em 0 0;
  text-align: center;
  vertical-align: center;
}
.top img {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}
.messages {
  position: absolute;
  bottom: 0;
  top: 60px;
  width: 100%;
  background: #fff;
  overflow-y: auto;
  /*    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    -moz-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;*/

}
.msg {
  background: url(/media/images/icon.png) no-repeat 10px 50%;
  /*background-size: 20px 20px;*/

  border-bottom: 1px solid #e3f0fd;
  min-height: 30px;
  padding-left: 3em;
  padding-top: 1em;
  font-size: 0.8em;
}
.msg:nth-child(2n+1) {
  background-color: #e8f3fd;
}
.msg em {
  background-color: #EEE;
  padding: 2px 5px;
  color: #777;
  border-radius: 0.25em;
  margin-right: 1em;
}
.msg:hover .twit {
  display: block;
}
.msg.selected {
  background-color: #e3f0fd;
}
.not-display {
  display: none;
}
.checkin {
  padding: 6px 6px;
  text-decoration: none;
}
.checkin:hover {
  padding: 5px 5px;
  border: 1px solid #1e487e;
  border-radius: 4px 4px 4px 4px;
  background-color: #1071d1;
  color: #FFF;
}
.twit {
  float: right;
  padding-right: 10px;
  display: none;
}
